<div class="my-form container p-4 my-5 rounded border border-warning">
    <form method="POST" hx-post="." hx-target="#content"> {% csrf_token %}
        <h2 class="text-center">Change password</h2>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        <hr>
        {% for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
                {{field}}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-warning">Change password</button>
    </form>

</div>